/*@import url(Open.css);*/

#usages h3 img {
    background-color: red;
}

.green {
    color: green;
}

.red {
    color: red;
}

.reveal table td {
    padding-top: 0;
    /* 
    padding-botom: 0;
    */
}

.reveal table th.halign-center, .reveal table td.halign-center {
    text-align: center;
}

.reveal table th p.tableblock, .reveal table td p.tableblock {
    margin-top: 0;
    margin-bottom: 0;
}