@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.reveal section h2, .reveal section h3, .reveal section div, .reveal section p {
    font-family: 'Roboto', sans-serif;
}

.reveal section h2 {
    font-size: 28pt;
}

.reveal section h3 {
    font-size: 26pt;
}

.reveal section p {
    font-size: 24pt;
}

ul {
    list-style-image: url('../images/Puce1.png');
    font-family: 'Roboto', sans-serif;
    font-size: 22pt;
}

ul ul {
    list-style-image: url('../images/Puce2.png');
    font-size: 18pt;
}

ul ul ul {
    list-style-image: url('../images/Puce3.png');
}

.reveal section.un h2,
.reveal section.deux h2,
.reveal section.trois h2,
.reveal section.quatre h2,
.reveal section.cinq h2 {
    font-size: 40pt;
    color: white;
    padding-top: 5em;
}

section.sommaire h2 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 54pt;
    text-transform: uppercase;
    transform: rotate(270deg);
    float: left;
    padding-top: 50%;
    margin-left: -50%;
}

.pdf-page section.sommaire h2 {
    margin-left: -40%;
}

section.sommaire ul {
    list-style: none;
    counter-reset: li;
    font-family: 'Roboto', sans-serif;
    font-size: 20pt;
    margin: 0;
}

section.sommaire ul li::before {
    counter-increment: li;
    content: counter(li);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    float: left;
    text-decoration: underline;
    font-weight: bold;
    font-size: 28pt;
    margin-top: -10px;
}

section.sommaire ul li:nth-of-type(5n+1)::before {
    color: #008BD2;
}

section.sommaire ul li:nth-of-type(5n+2)::before {
    color: #F5D713;
}

section.sommaire ul li:nth-of-type(5n+3)::before {
    color: #C4D000;
}

section.sommaire ul li:nth-of-type(5n+4)::before {
    color: #E85292;
}

section.sommaire ul li:nth-of-type(5n)::before {
    color: #FEA500;
}

section.merci h2 {
    color: #C4D000;
    font-family: 'Roboto', sans-serif;
    font-size: 28pt;
    margin-top: -190px;
    margin-left: 250px;
    width: 400px;
    text-align: left;
    text-transform: inherit;
}

/*
div.slides > section:first-of-type.title.present > h1 {
}
*/

.slide-background.sommaire {
    background: 
		url(../images/FondSommaire.png) no-repeat left top
    ;
    background-position: top left;
    background-size: contain;
}

div.reveal .stack div.slide-background.un {
    background: 
		url(../images/LogoWebiShareBlanc.png) no-repeat left bottom,
		url(../images/FondTitre1.png) no-repeat right bottom
    ;
    background-size: auto,cover;
}

div.reveal .stack div.slide-background.deux {
    background: 
		url(../images/LogoWebiShareBlanc.png) no-repeat left bottom,
		url(../images/FondTitre2.png) no-repeat right bottom
    ;
    background-size: auto,cover;
}

div.reveal .stack div.slide-background.trois {
    background: 
		url(../images/LogoWebiShareBlanc.png) no-repeat left bottom,
		url(../images/FondTitre3.png) no-repeat right bottom
    ;
    background-size: auto,cover;
}

div.reveal .stack div.slide-background.quatre {
    background: 
		url(../images/LogoWebiShareBlanc.png) no-repeat left bottom,
		url(../images/FondTitre4.png) no-repeat right bottom
    ;
    background-size: auto,cover;
}

div.reveal .stack div.slide-background.cinq {
    background: 
		url(../images/LogoWebiShareBlanc.png) no-repeat left bottom,
		url(../images/FondTitre5.png) no-repeat right bottom
    ;
    background-size: auto,cover;
}

.reveal div.slide-background.merci {
    background: 
		url(../images/LogoWebiShare.png) no-repeat right top,
		url(../images/ValeursOpen.png) no-repeat center center,
		url(../images/LogoOpenBlanc.png) no-repeat right bottom,
		url(../images/FondConclusion.png) no-repeat left bottom
    ;
    background-size: auto, auto, auto,contain;    ;
}              

.reveal div.pdf-page  div.slide-background.merci {
    background-size: auto, 50%, auto,contain;    ;
}


/*
.reveal .slide-background.stack .slide-background:not(:first-of-type) {*/
div.reveal .stack div.slide-background {
    background: 
		url(../images/FondHautGauche.png) no-repeat left top,
		url(../images/LogoWebiShare.png) no-repeat right top,
		url(../images/LogoOpenGroupePetit.png) no-repeat left bottom,
		url(../images/FondBasDroit.png) no-repeat right bottom
    ;
}

/*
div.reveal .stack .slide-background.title {
*/
.reveal .slide-background.title,.reveal .slide-background.stack .slide-background:first-of-type {
    padding-left: 3px;
    padding-top: 3px;
    background-clip: padding-box;
    background: 
		url(../images/LogoOpenGroupe.png) no-repeat left top,
		url(../images/FondTitre.png) no-repeat right bottom
    ;
}

div.reveal .stack div.slide-background .sommaire {
    padding-left: 35px;
    padding-top: 35px;
    background-clip: padding-box;
    background: 
		url(../images/FondSommaire.png) no-repeat left top
    ;
    background-size: cover;
}

div.slides > section:first-of-type.title.present {
    margin-top: -110px;
    margin-left: -80px;
    padding-top: 100px;
    padding-left: 110px;
    background-image: url(../images/Triangle.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-clip: padding-box;
}

div.slides > section:first-of-type.title.present > h1 {
    margin-top: -150px;
    padding-top: 260px;
    padding-left: 30px;
    margin-left: -20px;
    background-image: url(../images/WebiShare.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-clip: padding-box;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 32pt;
    font-weight: bold;
    color: #208ACB;
}                       

div.slides > section:first-of-type.title.present > h1:after{
    font-family: 'Roboto Condensed', sans-serif;
    font-size:18pt;
    font-weight: bold;
    display:block;
    text-align:left;
    content: "18 Mai 2021";
    color: #616161;
}

.line-through{
    text-decoration:line-through;
}
